# macOS Finder metadata
.DS_Store
**/.DS_Store

# IDE and editor directories
.idea/
.vscode/

# Build directories and temporary files
/precheck_results/
*/tmp
*/*/tmp
/build/
.out/
.synth/
*/*.log
*.bak
*.swp

# Simulation outputs and waveform files
*.vcd
*.gtkw
*.fsdb

# Python environments and virtual environments
/env
/venv

# OpenLane and Caravel specific directories
/caravel/
/dependencies/
/mgmt_core_wrapper

# Log files
/logs/

# Other build artifacts
*.hex*
*.lst
*.bin
*.json

# Backup and temporary files (e.g., from editors like vim, emacs)
*~
# Exclude emacs backup files
*.~ 

# Node.js and npm directories (if applicable)
node_modules/
